:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--yellow);
  color: var(--black);
  font-family: 'Figtree', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.card {
  max-width: 384px;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0px 0px #000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 500;
}

.card-image {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.card-content-badge {
  background-color: var(--yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  font-weight: 800;
}

.card-content-heading {
  font-size: 1.25rem;
  font-weight: 800;
  color: inherit;
  transition: color 0.25s;
}

.card-content-heading:hover {
  color: var(--yellow);
}

.card-content-text {
  font-size: 0.875rem;
  color: var(--gray);
}

.card-bottom {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.5;
}

.card-bottom-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .card-content {
    font-size: 0.875rem;
  }

  .card-content-heading {
    font-size: 1.5rem;
  }

  .card-content-text {
    font-size: 1rem;
  }
}
